name: Nightly Check
on:
  schedule:
    - cron: '17 1 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        distro:
          - ubuntu-2404
          - fedora-42
          - fedora-42-nightly
          - fedora-43
          - fedora-43-nightly
          - debian-trixie
    steps:
    - uses: actions/checkout@v2

    - name: Check (clang-format, build, btest, clang-tidy)
      run: docker build -t zeekjs-check-${{ matrix.distro }} -f docker/${{ matrix.distro }}.Dockerfile .

  doc:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Documentation
      run: make -C doc container-html

    - name: Archive html docs
      uses: actions/upload-artifact@v4
      with:
        name: html
        path: doc/_build/html
